@charset "UTF-8";
/* import reset */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside, main {
  display: block;
}

html {
  font-size: 62.5%;
}

html, body {
  height: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

* a, * button {
  color: inherit;
}

/* /import reset */
/* import fonts */
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Italic.woff2") format("woff2"), url("../fonts/Roboto-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Thin.woff2") format("woff2"), url("../fonts/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
/* /import fonts */
/* import common */
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex: 1 1 auto;
}

._container {
  width: 100%;
  max-width: 1190px;
  padding: 0 15px;
  margin: 0 auto;
}
@media (max-width: 1240px) {
  ._container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 830px) {
  ._container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 610px) {
  ._container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

._ibg {
  position: relative;
}

._ibg img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

._button {
  display: block;
  position: relative;
  width: 298px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 25px;
  padding-left: 8px;
  background-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  transition: background-image 0.5s ease 0s;
}
._button span {
  position: relative;
  z-index: 1;
}
._button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #E47209;
  opacity: 0;
  transition: opacity 0.5s;
  border-radius: 25px;
}
._button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4B9200;
  opacity: 0;
  transition: opacity 0.5s;
  border-radius: 25px;
}
._button:hover::before {
  opacity: 1;
}
._button:active::after {
  opacity: 1;
}

.menu__link_active {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.controlButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 50%;
}
@media (max-width: 610px) {
  .controlButton {
    display: none;
  }
}
.controlButton__icon {
  width: 18px;
  height: 10px;
}

._lock {
  overflow: hidden;
}

.to-left {
  position: relative;
  animation-name: left;
  animation-duration: 2s;
}

.to-right {
  position: relative;
  animation-name: right;
  animation-duration: 2s;
}

.from-left {
  animation-name: bmo;
  animation-duration: 2s;
  position: absolute;
}

.from-right {
  animation-name: amo;
  animation-duration: 2s;
  position: absolute;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -110%;
  }
}
@keyframes right {
  from {
    right: 0;
  }
  to {
    right: -110%;
  }
}
@keyframes amo {
  0% {
    width: 100%;
    top: 0;
    right: -100%;
  }
  100% {
    top: 0;
    right: 0px;
    width: 100%;
  }
}
@keyframes bmo {
  0% {
    width: 100%;
    top: 0;
    left: -100%;
  }
  100% {
    top: 0;
    left: 0px;
    width: 100%;
  }
}
.choice-wrapper {
  overflow: hidden;
  position: relative;
  z-index: 5;
  user-select: none;
}

.testimonials-wrapper {
  display: flex;
  column-gap: 30px;
  position: relative;
  transition: left ease-in 1s 0s;
}
@media (max-width: 999px) {
  .testimonials-wrapper {
    flex-direction: column;
    row-gap: 15px;
  }
}

.testimonials-to-left {
  position: relative;
  animation-name: testimonials-left;
  animation-duration: 1s;
}

@keyframes testimonials-left {
  to {
    left: -268px;
  }
}
.left-one {
  left: -268px;
}

.pop-up {
  display: none;
  position: fixed;
  width: 100%;
  bottom: 0;
  top: 0;
  height: 100vh;
  z-index: 10;
  align-items: center;
  justify-content: center;
}
.pop-up::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
}
.pop-up__button {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: rgb(114, 172, 91);
  border-radius: 50%;
}
.pop-up__button::before, .pop-up__button::after {
  content: "";
  height: 20px;
  width: 2px;
  background-color: #000;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  border-radius: 5px;
}
.pop-up__button::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.pop-up__button::after {
  transform: translate(-50%, -50%) rotate(315deg);
}

.pop-up__inner {
  width: 307.49px;
  height: 431px;
  background-color: lightpink;
  border-radius: 20px;
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pop-up_visible {
  display: flex;
}

.tall {
  max-height: 373px !important;
  height: 100%;
}

/* /import common */
/* import variables */
/* /import variables */
body {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #333B41;
}

body._lock {
  overflow: hidden;
}

/* import header */
body {
  overflow-x: hidden;
}

.header {
  position: relative;
  z-index: 6;
  background-color: #000;
  color: #fff;
}
@media (max-width: 830px) {
  .header {
    position: fixed;
    width: 100%;
  }
}
.header__container {
  display: flex;
  padding-top: 14px;
  padding-bottom: 14px;
  align-items: center;
}
.header__container > :first-child {
  margin-right: 63px;
}
@media (max-width: 830px) {
  .header__container > :first-child {
    margin-right: 0;
  }
}
@media (max-width: 830px) {
  .header__container {
    justify-content: space-between;
    padding: 0.5px 11px;
    position: relative;
    min-height: 34.4688px;
  }
}
@media (max-width: 610px) {
  .header__container {
    padding-left: 0;
    padding-right: 0;
  }
}
.header__menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}
.header__copyRight {
  transition: color 0.3s ease-in 0s;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}
@media (max-width: 830px) {
  .header__copyRight {
    color: #333B41;
  }
}
.header__copyRight:hover {
  color: #F9804B;
  cursor: pointer;
}
.header__burger {
  width: 18px;
  height: 10px;
  position: relative;
  display: none;
}
@media (max-width: 830px) {
  .header__burger {
    display: block;
    transform: translate(-9px, -1px);
  }
}
.header__burger::before, .header__burger::after {
  content: "";
}
.header__burger span, .header__burger::before, .header__burger::after {
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #fff;
  border-radius: 2px;
}
.header__burger span {
  top: 50%;
  transform: translateY(-50%);
}
.header__burger::before {
  top: 0;
}
.header__burger::after {
  bottom: 0;
}

.menu__list {
  display: flex;
  column-gap: 58px;
}
@media (max-width: 1240px) {
  .menu__list {
    column-gap: 48px;
  }
}
@media (max-width: 830px) {
  .menu__list {
    flex-direction: column;
    row-gap: 14.5px;
  }
}
.menu__link {
  transition: color 0.3s ease-in 0s;
}
.menu__link:hover {
  color: #F9804B;
}

.logo {
  position: relative;
  display: inline-block;
  max-width: 82px;
  max-height: 52px;
  padding: 3.55px 4.75px;
  text-align: center;
  font-size: 19.0145px;
  line-height: 120%;
  border: 1px solid #fff;
  border-radius: 2px;
}
.logo:hover {
  cursor: pointer;
}
.logo__link {
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 120%;
}
.logo__image {
  position: absolute;
  left: 3px;
  top: 22.5px;
  width: 23.03px;
  height: 20.98px;
  background: url(../img/icons/icons.svg#bamboo) no-repeat;
}
@media (max-width: 830px) {
  .logo__image {
    flex-direction: column;
    row-gap: 15px;
    left: 8px;
    top: 15.5px;
    width: 15.03px;
    height: 11.98px;
  }
}

.header__logo {
  animation: animatedLogo 0.7s ease 0;
}
@media (max-width: 830px) {
  .header__logo {
    max-width: 66px;
    border-color: transparent;
    padding: 1px 0px;
  }
}

@media (max-width: 830px) {
  .header__logo_link {
    font-size: 12.2899px;
    line-height: 120%;
  }
}

.header__links {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 830px) {
  .header__links {
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 329px;
    background-color: #fff;
    color: #333B41;
    padding: 82px 10px 10px;
    transform: translateX(100%);
    transition: transform 0.5s ease 0s;
    justify-content: flex-start;
    row-gap: 15px;
  }
}
.header__links_visible {
  transform: none;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.3);
}

.bamboo-svg {
  fill: red;
}

.header__links_visible + .header__burger {
  z-index: 5;
}

.header__links_visible + .header__burger::after,
.header__links_visible + .header__burger::before,
.header__links_visible + .header__burger span {
  background-color: #000;
}

.header__logo_visible {
  color: orange;
  z-index: 5;
  border-color: orange;
  padding: 0.55px 2.75px;
}

.header__logo_visible .logo__image {
  background-image: url(../img/icons/icons.svg#bambooOrange);
  left: 2px;
  top: 16.5px;
  width: 19.03px;
  height: 16.98px;
}

.header__container_active {
  padding-left: 10px;
  padding-top: 10px;
}

.header__logo_visible .logo__link {
  font-size: 15.2116px;
  line-height: 120%;
}

/* /import header */
.main__watch {
  margin-top: -80px;
  margin-bottom: 140px;
  padding-top: 166px;
  padding-bottom: 100px;
  max-height: 780px;
  background-image: url(../img/bgPanda.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 1240px) {
  .main__watch {
    max-height: 584px;
    padding-top: 123px;
    margin-bottom: 109px;
  }
}
@media (max-width: 830px) {
  .main__watch {
    max-height: 584px;
    padding-bottom: 40px;
    margin-bottom: 69px;
  }
}
@media (max-width: 610px) {
  .main__watch {
    margin-bottom: 114px;
  }
}

.watch__container {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 830px) {
  .watch__container {
    min-height: 290px;
  }
}
@media (max-width: 610px) {
  .watch__container {
    min-height: auto;
    max-height: 138px;
  }
}
.watch__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 60px;
  position: relative;
  z-index: 5;
}
@media (max-width: 1240px) {
  .watch__column {
    row-gap: 41px;
  }
}
@media (max-width: 830px) {
  .watch__column {
    row-gap: 113px;
    flex: 1 1 auto;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
@media (max-width: 610px) {
  .watch__column {
    flex-direction: column;
    row-gap: 61px;
  }
}
.watch__column::after {
  content: "";
  position: absolute;
  z-index: -1;
  transform: translate(-90px, -74px);
  width: 465px;
  height: 465px;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}
@media (max-width: 1240px) {
  .watch__column::after {
    width: 367px;
    height: 367px;
    transform: translate(-81px, -54px);
  }
}
@media (max-width: 830px) {
  .watch__column::after {
    width: 237px;
    height: 237px;
    transform: translate(-52px, -25px);
  }
}
@media (max-width: 610px) {
  .watch__column::after {
    width: 119px;
    height: 119px;
    transform: translate(62px, 13px);
  }
}
.watch__title {
  max-width: 500px;
  color: #fff;
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
}
.watch__title_yellow {
  color: #FFEE2E;
}
@media (max-width: 610px) {
  .watch__title_yellow {
    display: block;
  }
}
@media (max-width: 1240px) {
  .watch__title {
    font-size: 85px;
    line-height: 75%;
    padding-right: 12px;
  }
}
@media (max-width: 830px) {
  .watch__title {
    font-size: 54.2894px;
    line-height: 75%;
    padding-right: 0px;
    padding-top: 40px;
    max-width: 248px;
    align-self: flex-start;
  }
}
@media (max-width: 610px) {
  .watch__title {
    font-size: 28px;
    line-height: 75%;
    max-width: 129px;
    padding-top: 32px;
    align-self: flex-end;
    margin-right: 27%;
  }
}
@media (max-width: 340px) {
  .watch__title {
    margin-right: 0px;
  }
}
@media (max-width: 1240px) {
  .watch__button {
    transform: translateX(-8px);
  }
}
@media (max-width: 830px) {
  .watch__button {
    align-self: flex-end;
    transform: none;
  }
}
@media (max-width: 610px) {
  .watch__button {
    transform: translateX(-1px);
    padding-left: 4px;
  }
}

.main__backstage {
  color: #333B41;
  position: relative;
  margin-bottom: 177px;
}
@media (max-width: 1240px) {
  .main__backstage {
    margin-bottom: 144px;
  }
}
@media (max-width: 830px) {
  .main__backstage {
    margin-bottom: 81px;
  }
}
@media (max-width: 610px) {
  .main__backstage {
    margin-bottom: 41px;
  }
}

.backstage__container {
  display: flex;
  column-gap: 87px;
}
@media (max-width: 1240px) {
  .backstage__container {
    column-gap: 31px;
  }
}
@media (max-width: 830px) {
  .backstage__container {
    flex-direction: column;
  }
}
.backstage__flowersImage {
  position: absolute;
  top: -128px;
  right: 0;
  width: 204px;
  height: 613px;
  background-repeat: no-repeat;
  background-image: url(../img/flowers.png);
}
@media (max-width: 1550px) {
  .backstage__flowersImage {
    opacity: 0.2;
  }
}
@media (max-width: 1240px) {
  .backstage__flowersImage {
    display: none;
  }
}
@media (max-width: 830px) {
  .backstage__flowersImage {
    display: block;
    background-image: url(../img/backstageFlowersLitte.png);
    top: -74px;
    right: 0;
    width: 132px;
    height: 613px;
    opacity: 1;
  }
}
@media (max-width: 610px) {
  .backstage__flowersImage {
    background-image: url(../img/backflowersmall.png);
    top: -76px;
    right: 0;
    width: 35px;
    height: 235px;
    opacity: 1;
    background-size: contain;
  }
}
.backstage__flowersImage img {
  width: 100%;
  height: 100%;
}
.backstage__image {
  flex: 0 1 609px;
  max-height: 403px;
}
@media (max-width: 1240px) {
  .backstage__image {
    flex: 0 1 455px;
    max-height: 409px;
  }
}
@media (max-width: 830px) {
  .backstage__image {
    display: none;
  }
}
.backstage__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media (max-width: 999px) {
  .backstage__image img {
    object-position: 30% center;
  }
}
.backstage__info {
  flex: 0 1 40%;
}
@media (max-width: 1240px) {
  .backstage__info {
    flex: 1 1 40%;
  }
}
@media (max-width: 999px) {
  .backstage__info {
    flex-basis: fit-content;
  }
}
@media (max-width: 830px) {
  .backstage__info {
    max-width: 490px;
  }
}

.info-column__title {
  font-size: 48px;
  line-height: 120%;
  margin-bottom: 22px;
}
@media (max-width: 1240px) {
  .info-column__title {
    margin-top: -9px;
  }
}
@media (max-width: 830px) {
  .info-column__title {
    padding-left: 4px;
  }
}
@media (max-width: 610px) {
  .info-column__title {
    font-size: 24px;
    line-height: 120%;
    padding-left: 0;
    margin-bottom: 10px;
  }
}
.info-column__intro {
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 55px;
}
@media (max-width: 999px) {
  .info-column__intro {
    margin-bottom: 30px;
  }
}
@media (max-width: 610px) {
  .info-column__intro {
    padding-left: 2px;
    margin-bottom: 21px;
  }
}
.info-column__sub-title {
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 34px;
}
@media (max-width: 1240px) {
  .info-column__sub-title {
    margin-bottom: 33px;
  }
}
@media (max-width: 990px) {
  .info-column__sub-title {
    padding-left: 4px;
    margin-bottom: 20px;
  }
}
@media (max-width: 610px) {
  .info-column__sub-title {
    padding-left: 2px;
    margin-bottom: 10px;
  }
}
.info-column__text {
  font-size: 16px;
  line-height: 136%;
}

.main__choice {
  position: relative;
  padding-bottom: 100px;
}
@media (max-width: 1599px) {
  .main__choice {
    padding-bottom: 140px;
  }
}
@media (max-width: 830px) {
  .main__choice {
    padding-bottom: 99px;
  }
}
@media (max-width: 610px) {
  .main__choice {
    padding-bottom: 60px;
    overflow: hidden;
  }
}

.choice__container {
  position: relative;
}
.choice__controlButton {
  position: absolute;
  z-index: 10;
  top: 40.1%;
}
.choice__controlButton span {
  position: relative;
  z-index: 1;
}
.choice__controlButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #4B9200;
  transition: opacity 0.5s;
  border-radius: 50%;
}
.choice__controlButton:hover::before {
  opacity: 1;
}
.choice__controlButton_left {
  left: -67px;
}
@media (max-width: 1380px) {
  .choice__controlButton_left {
    left: 353px;
    top: 369px;
  }
}
@media (max-width: 1380px) and (max-width: 990px) {
  .choice__controlButton_left {
    left: 30%;
    top: 26.5%;
  }
}
@media (max-width: 830px) {
  .choice__controlButton_left {
    left: 243px;
    top: 343px;
  }
}
.choice__controlButton_right {
  right: -65px;
}
@media (max-width: 1380px) {
  .choice__controlButton_right {
    right: 352px;
    top: 369px;
  }
}
@media (max-width: 990px) {
  .choice__controlButton_right {
    right: 30%;
    top: 26.5%;
  }
}
@media (max-width: 830px) {
  .choice__controlButton_right {
    right: 243px;
    top: 343px;
  }
}
.choice__cards {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 18px;
  margin-bottom: 80px;
}
@media (max-width: 1380px) {
  .choice__cards {
    column-gap: 29px;
    row-gap: 92px;
    justify-content: center;
    margin-bottom: 80px;
  }
}
@media (max-width: 830px) {
  .choice__cards {
    margin-bottom: 60px;
  }
}
@media (max-width: 610px) {
  .choice__cards {
    row-gap: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 325px) {
  .choice__cards {
    justify-content: flex-start;
  }
}
.choice__card {
  flex: 0 1 31.6%;
  padding-bottom: 13px;
  border: 1px solid #F9804B;
  border-radius: 5px;
  overflow: hidden;
}
@media (max-width: 830px) {
  .choice__card {
    flex-basis: 50%;
  }
  .choice__card:nth-child(5) {
    display: none;
  }
  .choice__card:nth-child(6) {
    display: none;
  }
}
.choice__button {
  margin: 0 auto;
}
.animalCard {
  position: relative;
  min-height: 427px;
}
@media (max-width: 1380px) {
  .animalCard {
    min-height: 354px;
    max-width: 294px;
    max-height: 354px;
  }
}
@media (max-width: 990px) {
  .animalCard {
    min-height: 300px;
  }
}
@media (max-width: 830px) {
  .animalCard {
    max-width: 285px;
    min-height: 330px;
    max-height: 332px;
  }
}
@media (max-width: 610px) {
  .animalCard {
    flex-basis: 100%;
  }
}
.animalCard::after {
  content: "";
  width: 100%;
  top: 100%;
  position: absolute;
  background-color: lightgrey;
  opacity: 0.7;
  transition: top 0.5s linear 0s;
  bottom: 0;
}
.animalCard:hover::after {
  top: 0;
}
.animalCard:hover .animalCard__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.animalCard:hover .animalCard__image > img {
  transform: scale(1.1);
}
.animalCard__image {
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 8px;
}
@media (max-width: 1380px) {
  .animalCard__image {
    margin-bottom: 10px;
  }
}
@media (max-width: 830px) {
  .animalCard__image {
    margin-bottom: 7px;
  }
}
.animalCard__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s linear 0s;
}
.animalCard__wrapper {
  transition: all 0.5s linear 0s;
  position: absolute;
  top: 88%;
  z-index: 5;
}
@media (max-width: 1380px) {
  .animalCard__wrapper {
    position: static;
  }
}
.animalCard__info {
  padding-left: 14px;
}
@media (max-width: 1380px) {
  .animalCard__info {
    padding-left: 15px;
  }
}
@media (max-width: 830px) {
  .animalCard__info {
    padding-left: 11px;
  }
}
.animalCard__kind {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
}
@media (max-width: 830px) {
  .animalCard__kind {
    font-size: 12.4695px;
    line-height: 140%;
  }
}
.animalCard__location {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
}
@media (max-width: 830px) {
  .animalCard__location {
    font-size: 11.6901px;
    line-height: 120%;
  }
}
.animalCard__kindOfDish_vegetables {
  max-width: 42px;
  position: absolute;
  bottom: 14px;
  right: 6px;
}
@media (max-width: 830px) {
  .animalCard__kindOfDish_vegetables {
    max-width: 36px;
    bottom: 7px;
    right: 3px;
  }
}
.animalCard__kindOfDish_vegetables img {
  width: 100%;
  height: 100%;
}
.animalCard__kindOfDish_meet {
  max-width: 50px;
  position: absolute;
  bottom: 11px;
  right: 7px;
}
@media (max-width: 830px) {
  .animalCard__kindOfDish_meet {
    max-width: 45px;
    bottom: 6px;
    right: 4px;
  }
}
.animalCard__kindOfDish_meet img {
  width: 100%;
  height: 100%;
}

.choice__flower {
  position: absolute;
}
.choice__flower_left {
  width: 880px;
  height: 460px;
  bottom: 0;
  left: -588px;
}
@media (max-width: 1599px) {
  .choice__flower_left {
    width: 386px;
    height: 202px;
    left: -192px;
  }
}
@media (max-width: 830px) {
  .choice__flower_left {
    height: 200px;
    left: -252px;
  }
}
@media (max-width: 610px) {
  .choice__flower_left {
    height: 72px;
    left: -85px;
    width: 145px;
  }
}
.choice__flower_left img {
  width: 100%;
  height: 100%;
}
.choice__flower_right {
  width: 368px;
  height: 275px;
  right: 0;
  bottom: 0;
}
@media (max-width: 1599px) {
  .choice__flower_right {
    width: 241px;
    height: 180px;
    bottom: 1px;
  }
}
@media (max-width: 830px) {
  .choice__flower_right {
    width: 175px;
    height: 129px;
    bottom: 0px;
  }
}
@media (max-width: 610px) {
  .choice__flower_right {
    width: 95px;
    height: 71px;
    right: -22px;
    bottom: -4px;
  }
}
.choice__flower_right img {
  width: 100%;
  height: 100%;
}

.main__pickAndFeet {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
  padding-top: 68px;
  padding-bottom: 100px;
  margin-bottom: 140px;
}
@media (max-width: 1240px) {
  .main__pickAndFeet {
    padding-top: 30px;
    margin-bottom: 101px;
  }
}
@media (max-width: 830px) {
  .main__pickAndFeet {
    margin-bottom: 61px;
  }
}
@media (max-width: 610px) {
  .main__pickAndFeet {
    margin-bottom: 29px;
  }
}

@media (max-width: 1240px) {
  .pickAndFeet {
    padding: 30px 30px 50px;
  }
}
@media (max-width: 830px) {
  .pickAndFeet {
    padding: 20px 0 20px;
  }
}
@media (max-width: 610px) {
  .pickAndFeet {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.pickAndFeet__container {
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  padding-top: 42px;
  padding-bottom: 59px;
  max-width: 1160px;
}
@media (max-width: 1240px) {
  .pickAndFeet__container {
    padding-top: 30px;
    padding-bottom: 50px;
  }
}
@media (max-width: 830px) {
  .pickAndFeet__container {
    padding-top: 10px;
    padding-bottom: 60px;
  }
}
@media (max-width: 610px) {
  .pickAndFeet__container {
    padding-top: 21px;
    padding-bottom: 39px;
  }
}
.pickAndFeet__title {
  color: #FE9013;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 31px;
  padding-left: 4px;
}
@media (max-width: 1240px) {
  .pickAndFeet__title {
    padding-left: 0;
    margin-bottom: 21px;
  }
}
@media (max-width: 830px) {
  .pickAndFeet__title {
    font-size: 42px;
    margin-bottom: 21px;
  }
}
@media (max-width: 610px) {
  .pickAndFeet__title {
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 10px;
  }
}
.pickAndFeet__body {
  width: 100%;
  max-width: 1087px;
  padding-left: 85px;
}
@media (max-width: 1240px) {
  .pickAndFeet__body {
    padding-left: 19px;
  }
}
@media (max-width: 830px) {
  .pickAndFeet__body {
    padding-left: 0px;
  }
}
.pickAndFeet__intro {
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 40px;
}
@media (max-width: 1240px) {
  .pickAndFeet__intro {
    margin-bottom: 20px;
  }
}
@media (max-width: 830px) {
  .pickAndFeet__intro {
    font-size: 22px;
  }
}
@media (max-width: 610px) {
  .pickAndFeet__intro {
    font-size: 18px;
    text-align: center;
  }
}
.pickAndFeet__desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 10px;
}
@media (max-width: 1240px) {
  .pickAndFeet__desc {
    max-width: 800px;
    margin-bottom: 11px;
  }
}
@media (max-width: 610px) {
  .pickAndFeet__desc {
    display: none;
  }
}
.pickAndFeet__text {
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 60px;
  max-width: 870px;
}
@media (max-width: 1240px) {
  .pickAndFeet__text {
    margin-bottom: 40px;
  }
}
@media (max-width: 830px) {
  .pickAndFeet__text {
    margin-bottom: 30px;
  }
}
@media (max-width: 610px) {
  .pickAndFeet__text {
    display: none;
  }
}
.pickAndFeet__empl {
  margin-bottom: 61px;
}
@media (max-width: 1240px) {
  .pickAndFeet__empl {
    margin-bottom: 70px;
  }
}
@media (max-width: 830px) {
  .pickAndFeet__empl {
    margin-bottom: 41px;
  }
}
@media (max-width: 610px) {
  .pickAndFeet__empl {
    margin-bottom: 38px;
  }
}
.pickAndFeet__button {
  margin: 0 auto;
}
@media (max-width: 610px) {
  .pickAndFeet__button {
    transform: translateX(-10px);
  }
}

.empl {
  padding: 0 73px;
}
@media (max-width: 1240px) {
  .empl {
    padding: 0 59px;
  }
}
@media (max-width: 830px) {
  .empl {
    padding: 0 0;
  }
}
.empl__title {
  text-align: center;
  font-size: 36px;
  line-height: 130%;
  margin-bottom: 40px;
}
@media (max-width: 830px) {
  .empl__title {
    margin-bottom: 18px;
  }
}
@media (max-width: 610px) {
  .empl__title {
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 21px;
  }
}
.empl__body {
  display: flex;
  column-gap: 29px;
  justify-content: center;
}
@media (max-width: 990px) {
  .empl__body {
    column-gap: 0px;
    justify-content: space-between;
  }
}
@media (max-width: 830px) {
  .empl__body {
    column-gap: 42px;
    justify-content: center;
    position: relative;
  }
}
@media (max-width: 650px) {
  .empl__body {
    justify-content: flex-start;
  }
}
@media (max-width: 610px) {
  .empl__body {
    flex-direction: column;
    align-items: center;
  }
}
.empl__arrow {
  width: 71px;
  height: 160px;
  background-image: url(../img/icons/icons.svg#arrow);
}
@media (max-width: 830px) {
  .empl__arrow {
    position: absolute;
    background-image: url(../img/icons/icons.svg#arrowLittle);
    background-repeat: no-repeat;
    width: 72px;
    height: 62px;
  }
}
.empl__arrow_left {
  background-repeat: no-repeat;
  background-position: center center;
}
@media (max-width: 830px) {
  .empl__arrow_left {
    width: 88px;
    height: 76px;
    top: -16%;
    left: 50%;
    transform: translateX(-184%);
  }
}
@media (max-width: 610px) {
  .empl__arrow_left {
    top: 24%;
    left: 50%;
    transform: rotate(85deg) translateY(-75%);
  }
}
.empl__arrow_right {
  background-repeat: no-repeat;
  background-position: center center;
}
@media (max-width: 830px) {
  .empl__arrow_right {
    width: 88px;
    height: 76px;
    top: -17%;
    right: 50%;
    transform: translateX(152%);
  }
}
@media (max-width: 610px) {
  .empl__arrow_right {
    top: 60.4%;
    right: 50%;
    transform: rotate(84deg) translateY(-145px);
  }
}
.empl__arrow svg {
  width: 100%;
  height: 97%;
}
@media (max-width: 830px) {
  .empl__arrow svg {
    display: none;
  }
}

.empl-card {
  flex: 0 1 168px;
}
@media (max-width: 610px) {
  .empl-card {
    max-width: 168px;
  }
  .empl-card:nth-child(1) {
    margin-bottom: 41px;
  }
  .empl-card:nth-child(3) {
    margin-bottom: 29px;
  }
}
.empl-card__image {
  width: 168px;
  height: 168px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border: 1px solid #F9804B;
  border-radius: 5px;
}
@media (max-width: 610px) {
  .empl-card__image {
    margin-bottom: 10px;
  }
}
.empl-card__image_pay {
  height: 60px;
}
.empl-card__image_zoo {
  height: 96px;
}
.empl-card__image_monkey {
  height: 71px;
  width: 124px;
}
.empl-card__text {
  font-size: 16px;
  line-height: 140%;
}

.main__testimonials {
  overflow: hidden;
  padding-bottom: 180px;
  position: relative;
}
@media (max-width: 1240px) {
  .main__testimonials {
    padding-bottom: 140px;
  }
}
@media (max-width: 830px) {
  .main__testimonials {
    padding-bottom: 80px;
  }
}
@media (max-width: 610px) {
  .main__testimonials {
    padding-bottom: 60px;
  }
}

.testimonials__title {
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 47px;
}
@media (max-width: 1240px) {
  .testimonials__title {
    margin-bottom: 29px;
  }
}
@media (max-width: 610px) {
  .testimonials__title {
    font-size: 24px;
    margin-bottom: 19px;
  }
}
.testimonials__comments {
  display: flex;
  column-gap: 30px;
  overflow: hidden;
  margin-bottom: 20px;
}
@media (max-width: 1240px) {
  .testimonials__comments {
    width: 944px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 999px) {
  .testimonials__comments {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 830px) {
  .testimonials__comments {
    margin-bottom: 40px;
  }
}
@media (max-width: 610px) {
  .testimonials__comments {
    margin-bottom: 30px;
  }
}

.comments__card {
  display: flex;
  flex-direction: column;
}
.comments__scrollBar {
  appearance: none;
  display: block;
  width: 599px;
  height: 8px;
  margin-bottom: 31px;
  border-radius: 5px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid lightgray;
}
@media (max-width: 1240px) {
  .comments__scrollBar {
    width: 391px;
    margin-bottom: 52px;
  }
}
@media (max-width: 999px) {
  .comments__scrollBar {
    display: none;
  }
}
.comments__scrollBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100px;
  height: 8px;
  background-color: red;
  transform: translateY(10%);
  border-radius: 5px;
}
.comments__button {
  border-radius: 0px;
  padding-left: 1px;
  border-radius: 5px;
}
@media (max-width: 830px) {
  .comments__button {
    margin: 0 auto;
    width: 240px;
  }
}
.comments__button::after {
  border-radius: 5px;
}
.comments__button::before {
  border-radius: 5px;
}
.comments__flower {
  position: absolute;
  width: 409px;
  height: 407px;
  bottom: -134px;
  right: -163px;
}
@media (max-width: 1240px) {
  .comments__flower {
    width: 327px;
    height: 325px;
    bottom: -87px;
    right: -130px;
  }
}
@media (max-width: 830px) {
  .comments__flower {
    width: 211px;
    height: 212px;
    bottom: -75px;
    transform: rotate(358deg);
    right: -94px;
  }
}
@media (max-width: 610px) {
  .comments__flower {
    width: 104px;
    height: 102px;
    bottom: -34px;
    right: -48px;
    transform: rotate(345deg);
  }
}
.comments__flower img {
  height: 100%;
  width: 100%;
}

.commentsCard {
  cursor: pointer;
  max-height: 391px;
  width: 267.49px;
  position: relative;
  padding: 13px 11px 20px 15px;
  background: #F1F3F2;
  border: 2px solid transparent;
  background-clip: padding-box;
  border-radius: 20px;
  box-sizing: padding-box;
}
@media (max-width: 1240px) {
  .commentsCard {
    padding-bottom: 40px;
    width: 293px;
  }
}
@media (max-width: 999px) {
  .commentsCard {
    width: auto;
  }
  .commentsCard:nth-child(4) {
    display: none;
  }
  .commentsCard:nth-child(5) {
    display: none;
  }
  .commentsCard:nth-child(6) {
    display: none;
  }
  .commentsCard:nth-child(7) {
    display: none;
  }
  .commentsCard:nth-child(8) {
    display: none;
  }
  .commentsCard:nth-child(9) {
    display: none;
  }
  .commentsCard:nth-child(10) {
    display: none;
  }
  .commentsCard:nth-child(11) {
    display: none;
  }
}
@media (max-width: 830px) {
  .commentsCard {
    max-height: 109px;
    padding-bottom: 7px;
  }
}
@media (max-width: 610px) {
  .commentsCard {
    padding-top: 9px;
    padding-bottom: 12px;
  }
}
.commentsCard_padding-right {
  padding-right: 13px;
}
.commentsCard:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px; /* !importanté */
  border-radius: inherit; /* !importanté */
  background: linear-gradient(-45deg, rgba(254, 189, 171, 0.74), rgba(243, 169, 248, 0.66), rgb(224, 216, 240), rgb(234, 247, 254), rgb(234, 247, 254));
}
.commentsCard__profileImg {
  display: inline-block;
  height: 37px;
  width: 37px;
  overflow: hidden;
  border-radius: 50%;
}
.commentsCard__profileImg svg {
  width: 100%;
  height: 100%;
}
.commentsCard__name {
  margin-bottom: 1px;
  font-size: 16px;
  line-height: 120%;
  color: #000;
}
.commentsCard__commentInfo {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #BDBDBD;
  margin-bottom: 10px;
}
.commentsCard__commentInfo > *:last-child {
  margin-right: 5px;
}
.commentsCard__commentText {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #767474;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 17;
  -webkit-box-orient: vertical;
}

.cardComments__head {
  display: flex;
  column-gap: 10px;
}
@media (max-width: 830px) {
  .cardComments__head {
    margin-left: -5px;
  }
}
@media (max-width: 610px) {
  .cardComments__head {
    column-gap: 7px;
  }
}

.commentsCard__dot {
  display: inline-block;
  position: relative;
  height: 3px;
  width: 3px;
  top: -3px;
  left: 4px;
  border-radius: 50%;
  background-color: #BDBDBD;
}

/* import donate */
.pickAndFeedFriend {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  padding-bottom: 180px;
}
@media (max-width: 1240px) {
  .pickAndFeedFriend {
    padding-bottom: 30px;
  }
}
@media (max-width: 830px) {
  .pickAndFeedFriend {
    padding-bottom: 46px;
  }
}
@media (max-width: 610px) {
  .pickAndFeedFriend {
    padding-bottom: 21px;
  }
}
.pickAndFeedFriend__bg {
  max-height: 386px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 40px;
}
@media (max-width: 1240px) {
  .pickAndFeedFriend__bg {
    max-height: 390px;
  }
}
@media (max-width: 830px) {
  .pickAndFeedFriend__bg {
    max-height: none;
    min-height: 369px;
    margin-bottom: 31px;
  }
}
@media (max-width: 610px) {
  .pickAndFeedFriend__bg {
    min-height: 221px;
  }
}
.pickAndFeedFriend__helpingHand {
  font-size: 36px;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 10px;
}
@media (max-width: 1240px) {
  .pickAndFeedFriend__helpingHand {
    max-width: 800px;
    margin-bottom: 30px;
  }
}
@media (max-width: 830px) {
  .pickAndFeedFriend__helpingHand {
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 20px;
  }
}
.pickAndFeedFriend__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
  margin-bottom: 45px;
}
@media (max-width: 1240px) {
  .pickAndFeedFriend__text {
    margin-bottom: 46px;
  }
}
@media (max-width: 830px) {
  .pickAndFeedFriend__text {
    margin-bottom: 28px;
  }
}
@media (max-width: 610px) {
  .pickAndFeedFriend__text {
    line-height: 137%;
    margin-bottom: 32px;
  }
}
.pickAndFeedFriend__text span {
  font-weight: 400;
}
.pickAndFeedFriend__donationInfo {
  font-size: 36px;
  line-height: 130%;
  color: #FE9013;
  margin-bottom: 60px;
}
@media (max-width: 1240px) {
  .pickAndFeedFriend__donationInfo {
    margin-bottom: 39px;
  }
}
@media (max-width: 830px) {
  .pickAndFeedFriend__donationInfo {
    margin-bottom: 30px;
  }
}
@media (max-width: 610px) {
  .pickAndFeedFriend__donationInfo {
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 29px;
  }
}
.pickAndFeedFriendBody {
  padding: 40px 92px 62px;
  background: rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
}
@media (max-width: 1240px) {
  .pickAndFeedFriendBody {
    padding: 20px 48px 45px;
  }
}
@media (max-width: 830px) {
  .pickAndFeedFriendBody {
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 29px;
  }
}
@media (max-width: 610px) {
  .pickAndFeedFriendBody {
    padding-top: 21px;
    padding-bottom: 19px;
  }
}
.pickAndFeedFriendBody__title {
  font-size: 48px;
  line-height: 120%;
  color: #FE9013;
  margin-bottom: 21px;
  text-align: center;
  padding-right: 11px;
}
@media (max-width: 1240px) {
  .pickAndFeedFriendBody__title {
    padding-right: 16px;
    margin-bottom: 11px;
  }
}
@media (max-width: 830px) {
  .pickAndFeedFriendBody__title {
    padding-right: 0px;
    margin-bottom: 21px;
  }
}
@media (max-width: 610px) {
  .pickAndFeedFriendBody__title {
    font-size: 24px;
    margin-bottom: 9px;
  }
}
.pickAndFeedFriendBody__subtitle {
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
  margin-bottom: 82px;
}
@media (max-width: 830px) {
  .pickAndFeedFriendBody__subtitle {
    text-align: center;
    margin-bottom: 72px;
  }
}
@media (max-width: 610px) {
  .pickAndFeedFriendBody__subtitle {
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 0;
  }
}
.pickAndFeedFriendChoice__animal {
  margin-bottom: 22px;
}
@media (max-width: 1240px) {
  .pickAndFeedFriendChoice__animal {
    margin-bottom: 23px;
  }
}
@media (max-width: 830px) {
  .pickAndFeedFriendChoice__animal {
    margin-bottom: 16px;
  }
}
@media (max-width: 610px) {
  .pickAndFeedFriendChoice__animal {
    margin-bottom: 0px;
  }
}
.pickAndFeedFriendChoice__sum {
  margin-bottom: 29px;
}
@media (max-width: 610px) {
  .pickAndFeedFriendChoice__sum {
    margin-bottom: 26px;
  }
}
.pickAndFeedFriendChoice__button {
  margin: 0 auto 29px;
}
@media (max-width: 1240px) {
  .pickAndFeedFriendChoice__button {
    margin-bottom: 30px;
  }
}
.pickAndFeedFriendChoice__text {
  text-align: center;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
  padding-left: 6px;
}
@media (max-width: 1240px) {
  .pickAndFeedFriendChoice__text {
    padding-left: 2px;
  }
}
@media (max-width: 610px) {
  .pickAndFeedFriendChoice__text {
    padding-left: 0;
    text-align-last: left;
    width: 301px;
  }
}

.animalChoice {
  display: flex;
}
.animalChoice__numberOfDays {
  display: flex;
  justify-content: center;
  align-items: center;
}
.animalChoice__icon {
  width: 14px;
  margin-right: 43px;
  transform: translate(5px, -14px);
}
@media (max-width: 610px) {
  .animalChoice__icon {
    margin-right: 0;
    width: 9px;
    transform: translate(5px, 12px);
  }
}
.animalChoice__kindOfAnimal {
  width: 270px;
  height: 246px;
}
@media (max-width: 610px) {
  .animalChoice__kindOfAnimal {
    width: 248px;
    height: 113px;
    align-self: flex-end;
  }
}
.animalChoice__kindOfAnimal svg {
  height: 100%;
  width: 100%;
}

.numberOfDays {
  padding-top: 11px;
  width: 463px;
  padding-left: 190px;
}
@media (max-width: 1240px) {
  .numberOfDays {
    width: 396px;
    padding-left: 122px;
  }
}
@media (max-width: 830px) {
  .numberOfDays {
    padding-left: 27px;
    justify-content: flex-start;
    width: 275px;
  }
}
@media (max-width: 610px) {
  .numberOfDays {
    padding-left: 0;
    padding-top: 0;
    width: 197px;
  }
}
.numberOfDays__days {
  font-weight: 500;
  font-size: 72px;
  line-height: 80%;
  color: #000000;
  margin-bottom: 10px;
}
@media (max-width: 610px) {
  .numberOfDays__days {
    font-size: 40.6015px;
    margin-bottom: 8px;
  }
}
.numberOfDays__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 6px;
}
@media (max-width: 610px) {
  .numberOfDays__inner {
    margin-right: 0;
    padding-top: 42px;
  }
}
.numberOfDays__text {
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
}
@media (max-width: 610px) {
  .numberOfDays__text {
    font-size: 9.02255px;
  }
}

.pickAndFeedFriendChoiceSum__title {
  display: inline-block;
  font-size: 16px;
  line-height: 140%;
  color: #000;
  margin-bottom: 17px;
  padding-left: 4px;
}
@media (max-width: 1240px) {
  .pickAndFeedFriendChoiceSum__title {
    padding-left: 17px;
    margin-bottom: 16px;
  }
}
@media (max-width: 830px) {
  .pickAndFeedFriendChoiceSum__title {
    padding-left: 10px;
    margin-bottom: 5px;
  }
}
@media (max-width: 610px) {
  .pickAndFeedFriendChoiceSum__title {
    padding-left: 0px;
    margin-bottom: 7px;
  }
}
.pickAndFeedFriendChoiceSum__money {
  width: 100%;
  height: 27px;
  background-color: #404950;
  border-radius: 2px;
  display: flex;
  align-items: center;
}
@media (max-width: 1240px) {
  .pickAndFeedFriendChoiceSum__money {
    width: 96%;
    margin: 0 auto;
  }
}
@media (max-width: 830px) {
  .pickAndFeedFriendChoiceSum__money {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 610px) {
  .pickAndFeedFriendChoiceSum__money {
    height: 14px;
  }
}
.pickAndFeedFriendChoiceSum__bar {
  width: 915px;
  height: 2px;
  background-color: #72828E;
  border-radius: 2px;
  margin: 0 auto;
}
@media (max-width: 1240px) {
  .pickAndFeedFriendChoiceSum__bar {
    width: 97%;
  }
}
@media (max-width: 830px) {
  .pickAndFeedFriendChoiceSum__bar {
    width: 86%;
  }
}
.pickAndFeedFriendChoiceSum__container {
  display: flex;
  margin-bottom: 15px;
  position: relative;
  top: -34px;
  column-gap: 58px;
}
@media (max-width: 999px) {
  .pickAndFeedFriendChoiceSum__container {
    justify-content: space-around;
  }
}
@media (max-width: 650px) {
  .pickAndFeedFriendChoiceSum__container {
    justify-content: flex-start;
  }
}
@media (max-width: 610px) {
  .pickAndFeedFriendChoiceSum__container {
    column-gap: 21px;
    margin-bottom: 3px;
    top: -22px;
    justify-content: space-around;
  }
}
@media (max-width: 330px) {
  .pickAndFeedFriendChoiceSum__container {
    justify-content: flex-start;
  }
}
@media (max-width: 1240px) {
  .pickAndFeedFriendChoiceSum__container div:nth-child(1) {
    display: none;
  }
}
@media (max-width: 998px) {
  .pickAndFeedFriendChoiceSum__container div:nth-child(2) {
    display: none;
  }
}
@media (max-width: 870px) {
  .pickAndFeedFriendChoiceSum__container div:nth-child(3) {
    display: none;
  }
}
.pickAndFeedFriendChoiceSum__count {
  min-width: 72px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 72px;
}
@media (max-width: 610px) {
  .pickAndFeedFriendChoiceSum__count {
    min-width: 44px;
  }
}
.pickAndFeedFriendChoiceSum__count span {
  width: 40px;
  height: 40px;
  position: relative;
  left: -5px;
  border: 2px solid #FE9013;
  border-radius: 50%;
  opacity: 0;
  margin-bottom: 7px;
}
@media (max-width: 830px) {
  .pickAndFeedFriendChoiceSum__count span {
    left: 4px;
  }
}
@media (max-width: 610px) {
  .pickAndFeedFriendChoiceSum__count span {
    margin-bottom: 8px;
    height: 20px;
    width: 20px;
    left: -2px;
    top: 5px;
    border-width: 1px;
  }
}
.pickAndFeedFriendChoiceSum__count span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 23px;
  height: 23px;
  border: 2px solid #FE9013;
  border-radius: 50%;
}
@media (max-width: 610px) {
  .pickAndFeedFriendChoiceSum__count span::after {
    width: 12px;
    height: 12px;
    border-width: 1px;
  }
}
.pickAndFeedFriendChoiceSum__count input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  left: 50%;
  top: 24%;
  transform: translate(-92%, -50%);
}
@media (max-width: 830px) {
  .pickAndFeedFriendChoiceSum__count input {
    transform: translate(-25%, -50%);
  }
}
@media (max-width: 610px) {
  .pickAndFeedFriendChoiceSum__count input {
    transform: translate(-90%, 31%);
    width: 5px;
    height: 5px;
  }
}
.pickAndFeedFriendChoiceSum__count label {
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  color: #333B41;
}
@media (max-width: 610px) {
  .pickAndFeedFriendChoiceSum__count label {
    font-size: 13px;
  }
}
.pickAndFeedFriendChoiceSum__count label::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #FFEE2E;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 24%;
  transform: translate(-103%, -50%);
}
@media (max-width: 830px) {
  .pickAndFeedFriendChoiceSum__count label::before {
    transform: translate(-14%, -50%);
  }
}
@media (max-width: 610px) {
  .pickAndFeedFriendChoiceSum__count label::before {
    width: 5px;
    height: 5px;
    transform: translate(-91%, 31%);
  }
}
.pickAndFeedFriendChoiceSum__count label::after {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 0%;
  transform: translateX(12px);
  cursor: pointer;
}
@media (max-width: 830px) {
  .pickAndFeedFriendChoiceSum__count label::after {
    transform: translateX(14px);
  }
}
@media (max-width: 610px) {
  .pickAndFeedFriendChoiceSum__count label::after {
    width: 20px;
    height: 20px;
    transform: translate(1px, 5px);
  }
}
.pickAndFeedFriendChoiceSum__anotherMoney {
  min-width: 268px;
  display: block;
  margin: 0 auto;
  padding: 15px 9px;
  font-size: 16px;
  line-height: 140%;
  background-color: transparent;
  color: #929699;
  border: 1px solid #929699;
  border-radius: 2px;
}
.pickAndFeedFriendChoiceSum__anotherMoney::-webkit-outer-spin-button, .pickAndFeedFriendChoiceSum__anotherMoney::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media (max-width: 830px) {
  .pickAndFeedFriendChoiceSum__anotherMoney {
    min-width: auto;
    max-width: 180px;
    padding: 9px 5px;
  }
}

#amountNum {
  display: flex;
  column-gap: 80px;
  height: 40px;
  width: 100%;
}

.anotherAmountContainer {
  position: relative;
  margin-bottom: 25px;
}
@media (max-width: 830px) {
  .anotherAmountContainer {
    margin-bottom: 31px;
  }
}
@media (max-width: 610px) {
  .anotherAmountContainer {
    margin-bottom: 25px;
  }
}

.anotherAmountIcon {
  position: absolute;
  width: 10px;
  height: 20px;
  top: 50%;
  right: 50%;
  transform: translate(124px, -50%);
  fill: #929699;
}
@media (max-width: 830px) {
  .anotherAmountIcon {
    transform: translate(80px, -50%);
  }
}

.chooseDate {
  display: flex;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
}

.monthly {
  flex: 0 1 56%;
  text-align: end;
}
@media (max-width: 610px) {
  .monthly {
    flex-basis: 66%;
  }
}
.monthly label {
  padding-left: 26px;
  padding-right: 50px;
}
@media (max-width: 830px) {
  .monthly label {
    padding-right: 51px;
  }
}

.once {
  flex: 0 1 50%;
  text-align: start;
}
@media (max-width: 830px) {
  .once {
    flex-basis: 47%;
  }
}

#monthlyFee {
  border-radius: 50%;
}

.payment-type {
  display: none;
}
.payment-type:checked + label::after {
  opacity: 1;
}

.choose-date-label {
  position: relative;
  padding-left: 25px;
}
.choose-date-label::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  border: 1px solid #FE9013;
  border-radius: 50%;
}
.choose-date-label::after {
  content: "";
  position: absolute;
  left: 3px;
  top: 3px;
  display: inline-block;
  height: 10px;
  width: 10px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: #FE9013;
  opacity: 0;
}

/* /import donate */
/* import footer */
.footer {
  background-color: #111115;
  color: #fff;
  padding-top: 41px;
  padding-bottom: 50px;
}
@media (max-width: 830px) {
  .footer {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media (max-width: 610px) {
  .footer {
    padding-top: 20px;
    padding-bottom: 61px;
  }
}
@media (max-width: 1240px) {
  .footer__container {
    padding-left: 44px;
    padding-right: 19px;
  }
}
@media (max-width: 830px) {
  .footer__container {
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
  }
}
@media (max-width: 610px) {
  .footer__container {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.footer__head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}
@media (max-width: 830px) {
  .footer__head {
    margin-bottom: 33px;
  }
}
@media (max-width: 610px) {
  .footer__head {
    margin-bottom: 81px;
  }
}
.footer__logo {
  padding-top: 1px;
  border-width: 0.5px;
}
@media (max-width: 610px) {
  .footer__logo {
    border: none;
    max-width: none;
    margin: 0 auto;
  }
}
.footer__logoImage {
  top: 19.5px;
}
@media (max-width: 610px) {
  .footer__logoImage {
    left: 71px;
    top: 14.5px;
    width: 24.03px;
    height: 20.98px;
    top: -3.5px;
  }
}
@media (max-width: 1240px) {
  .footer__subscribeForm {
    padding-right: 31px;
  }
}
@media (max-width: 830px) {
  .footer__subscribeForm {
    display: none;
  }
}
.footer__button {
  border-radius: 5px;
  padding-left: 1px;
  margin-bottom: 44px;
}
@media (max-width: 1240px) {
  .footer__button {
    margin-bottom: 44px;
  }
}
@media (max-width: 830px) {
  .footer__button {
    margin-bottom: 68px;
  }
}
@media (max-width: 610px) {
  .footer__button {
    margin-bottom: 108px;
  }
}
.footer__button::after {
  border-radius: 5px;
}
.footer__button::before {
  border-radius: 5px;
}
.footer__body {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.subscribeForm__label {
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 13px;
}
.subscribeForm__input {
  height: 42px;
  width: 228px;
  border: 0.7px solid #F9804B;
  border-radius: 2px;
  padding: 10px 10px 10px 9px;
  background-color: transparent;
  margin-right: 5px;
  font-size: 16px;
  line-height: 140%;
  color: #BDBDBD;
  transition: all 0.5s ease 0s;
}
.subscribeForm__input:hover, .subscribeForm__input:focus {
  border: 0.7px solid #4B9200;
}
.subscribeForm__input:focus + button {
  border: 0.7px solid #4B9200;
  color: #4B9200;
}
.subscribeForm__input:invalid {
  border: 0.7px solid #D31414;
  border-radius: 5px;
  color: #D31414;
}
.subscribeForm__input:invalid + button {
  border: 1px solid #D31414;
  border-radius: 5px;
  color: #D31414;
}
.subscribeForm__submitButton {
  border: 1px solid #333B41;
  border-radius: 5px;
  color: #000000;
  font-size: 16px;
  line-height: 140%;
  padding-top: 9px;
  padding-bottom: 8px;
  padding-left: 38px;
  padding-right: 38px;
  border-radius: 5px;
  transition: all 0.5s ease 0s;
}
.subscribeForm__submitButton:hover {
  color: #4B9200;
  border: 1px solid #4B9200;
}

.footerBody {
  font-size: 16px;
  line-height: 140%;
}
.footerBody__socials {
  margin-right: 118px;
}
@media (max-width: 1240px) {
  .footerBody__socials {
    margin-right: 91px;
  }
}
@media (max-width: 830px) {
  .footerBody__socials {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
  }
}
@media (max-width: 610px) {
  .footerBody__socials {
    top: 53px;
    right: 2px;
    column-gap: 30px;
    transform: translateX(-31.5%);
    margin-right: 0px;
    display: flex;
  }
}
@media (max-width: 610px) {
  .footerBody__menu {
    padding-right: 12px;
    padding-left: 12px;
  }
}
@media (max-width: 1240px) {
  .footerBody__list {
    flex-direction: row;
    column-gap: 48px;
  }
}
@media (max-width: 830px) {
  .footerBody__list {
    column-gap: 37px;
  }
}
@media (max-width: 610px) {
  .footerBody__list {
    column-gap: 29px;
  }
}
.footerBody__designed {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 228px;
  height: 51px;
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
}
@media (max-width: 610px) {
  .footerBody__designed {
    position: absolute;
    bottom: 51px;
    right: 11px;
    font-size: 15px;
    line-height: 120%;
    height: 49px;
  }
}

.socials > *:not(:last-child) {
  margin-bottom: 10px;
}
@media (max-width: 1240px) {
  .socials > *:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media (max-width: 830px) {
  .socials > *:not(:last-child) {
    margin-bottom: 20px;
  }
}
.socials__item:hover .socials__iconContainer {
  background-color: #4B9200;
  color: #4B9200;
}
.socials__item:hover .socials__link {
  color: #4B9200;
}
.socials__iconContainer {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(196, 196, 196, 0.5);
  border-radius: 50%;
  transition: background-color 0.5s linear 0s;
}
.socials__link {
  display: flex;
  align-items: center;
  column-gap: 12px;
  transition: color 0.5s linear 0s;
}
@media (max-width: 830px) {
  .socials__link span {
    display: none;
  }
}
.socials__icon_fb {
  width: 8px;
  height: 16px;
}
.socials__icon_tw {
  width: 16px;
  height: 14px;
}
.socials__icon_ig {
  width: 16px;
  height: 16px;
}
.socials__icon_yt {
  width: 18px;
  height: 13px;
}

.link:hover {
  border-bottom: 1px solid #FE9013;
  padding-bottom: 4px;
}

@media (max-width: 1240px) {
  .donate-footer__container {
    padding-left: 31px;
    padding-right: 32px;
  }
}
@media (max-width: 830px) {
  .donate-footer__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 610px) {
  .donate-footer__container {
    padding-left: 9px;
    padding-right: 10px;
  }
}

@media (max-width: 1240px) {
  .donate-footer-body__socials {
    margin-right: 118px;
  }
}
@media (max-width: 830px) {
  .donate-footer-body__socials {
    margin-right: 20px;
  }
}
@media (max-width: 610px) {
  .donate-footer-body__socials {
    margin-right: 0px;
  }
}

@media (max-width: 610px) {
  .donate-designed {
    bottom: 51px;
  }
}

/* /import footer */