.main {
  // .main__pickAndFeed
  &__pickAndFeed {}
}

.pickAndFeedFriend {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  padding-bottom: 180px;
  @media (max-width: $pc) {
    padding-bottom: 30px;
  }
  @media (max-width: 830px) {
    padding-bottom: 46px;
  }
  @media (max-width: 610px) {
    padding-bottom: 21px;
  }
  // .pickAndFeedFriend__bg
  &__bg {
    max-height: 386px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 40px;
    @media (max-width: $pc) {
      max-height: 390px;
    }
    @media (max-width: 830px) {
      max-height: none;
      min-height: 369px;
      margin-bottom: 31px;
    }
    @media (max-width: 610px) {
      min-height: 221px;
    }
  }
  // .pickAndFeedFriend__container
  &__container {}
  // .pickAndFeedFriend__helpingHand
  &__helpingHand {
    font-size: 36px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 10px;
    @media (max-width: $pc) {
      max-width: 800px;
      margin-bottom: 30px;
    }
    @media (max-width: 830px) {
      font-size: 24px;
      line-height: 120%;
      margin-bottom: 20px;
    }
  }
  // .pickAndFeedFriend__text
  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
    margin-bottom: 45px;
    @media (max-width: $pc) {
      margin-bottom: 46px;
    }
    @media (max-width: 830px) {
      margin-bottom: 28px;
    }
    @media (max-width: 610px) {
      line-height: 137%;
      margin-bottom: 32px;
    }
    & span {
      font-weight: 400;
    }
  }
  // .pickAndFeedFriend__donationInfo
  &__donationInfo {
    font-size: 36px;
    line-height: 130%;
    color: #FE9013;
    margin-bottom: 60px;
    @media (max-width: $pc) {
      margin-bottom: 39px;
    }
    @media (max-width: 830px) {
      margin-bottom: 30px;
    }
    @media (max-width: 610px) {
      font-size: 24px;
      line-height: 120%;
      margin-bottom: 29px;
    }
  }
  // .pickAndFeedFriend__body
  &__body {}
}
.pickAndFeedFriendBody {
  padding: 40px 92px 62px;
  background: rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  @media (max-width: $pc) {
    padding: 20px 48px 45px;
  }
  @media (max-width: 830px) {
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 29px;
  }
  @media (max-width: 610px) {
    padding-top: 21px;
    // padding-left: 0px;
    // padding-right: 0px;
    padding-bottom: 19px;
  }
  // .pickAndFeedFriendBody__title
  &__title {
    font-size: 48px;
    line-height: 120%;
    color: #FE9013;
    margin-bottom: 21px;
    text-align: center;
    padding-right: 11px;
    @media (max-width: $pc) {
      padding-right: 16px;
      margin-bottom: 11px;
    }
    @media (max-width: 830px) {
      padding-right: 0px;
      margin-bottom: 21px;
    }
    @media (max-width: 610px) {
      font-size: 24px;
      margin-bottom: 9px;
    }
  }
  // .pickAndFeedFriendBody__subtitle
  &__subtitle {
    font-size: 24px;
    line-height: 120%;
    color: $black_blue;
    margin-bottom: 82px;
    @media (max-width: 830px) {
      text-align: center;
      margin-bottom: 72px;
    }
    @media (max-width: 610px) {
      font-size: 16px;
      line-height: 140%;
      margin-bottom: 0;
    }
  }
  // .pickAndFeedFriendBody__choice
  &__choice {}
}
.pickAndFeedFriendChoice {
  // .pickAndFeedFriendChoice__animal
  &__animal {
    margin-bottom: 22px;
    @media (max-width: $pc) {
      margin-bottom: 23px;
    }
    @media (max-width: 830px) {
      margin-bottom: 16px;
    }
    @media (max-width: 610px) {
      margin-bottom: 0px;
    }
  }
  // .pickAndFeedFriendChoice__sum
  &__sum {
    margin-bottom: 29px;
    @media (max-width: 610px) {
      margin-bottom: 26px;
    }
  }
  // .pickAndFeedFriendChoice__button
  &__button {
    margin: 0 auto 29px;
    @media (max-width: $pc) {
      margin-bottom: 30px;
    }
  }
  // .pickAndFeedFriendChoice__text
  &__text {
    text-align: center;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
    padding-left: 6px;
    @media (max-width: $pc) {
      padding-left: 2px;
    }
    @media (max-width: 610px) {
      padding-left: 0;
      text-align-last: left;
      width: 301px;
    }
    
  }
}
.animalChoice {
  display: flex;
  // .animalChoice__numberOfDays
  &__numberOfDays {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // .animalChoice__icon
  &__icon {
    width: 14px;
    margin-right: 43px;
    transform: translate(5px, -14px);
    @media (max-width: 610px) {
      margin-right: 0;
      width: 9px;
      transform: translate(5px, 12px);
    }
  }
  // .animalChoice__kindOfAnimal
  &__kindOfAnimal {
    width: 270px;
    height: 246px;
    @media (max-width: 610px) {
      width: 248px;
      height: 113px;
      align-self: flex-end;
    }
    & svg {
      height: 100%;
      width: 100%;
    }
  }
}
.numberOfDays {
  padding-top: 11px;
    width: 463px;
    padding-left: 190px;
    @media (max-width: $pc) {
      width: 396px;
      padding-left: 122px;
    }
    @media (max-width: 830px) {
      padding-left: 27px;
      justify-content: flex-start;
      width: 275px;
    }
    @media (max-width: 610px) {
      padding-left: 0;
      padding-top: 0;
      width: 197px;
    }
  // .numberOfDays__days
  &__days {
    font-weight: 500;
    font-size: 72px;
    line-height: 80%;
    color: #000000;
    margin-bottom: 10px;
    @media (max-width: 610px) {
      font-size: 40.6015px;
      margin-bottom: 8px;
    }
  }
  // .numberOfDays__inner
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 6px;
    @media (max-width: 610px) {
      margin-right: 0;
      padding-top: 42px;
    }
  }
  // .numberOfDays__text
  &__text {
    font-size: 16px;
    line-height: 140%;
    color: $black_blue;
    @media (max-width: 610px) {
      font-size: 9.02255px;
    }    
  }
}
.pickAndFeedFriendChoiceSum {
  // .pickAndFeedFriendChoiceSum__title
  &__title {
    display: inline-block;
    font-size: 16px;
    line-height: 140%;
    color: #000;
    margin-bottom: 17px;
    padding-left: 4px;
    @media (max-width: $pc) {
      padding-left: 17px;
      margin-bottom: 16px;
    }
    @media (max-width: 830px) {
      padding-left: 10px;
      margin-bottom: 5px;
    }
    @media (max-width: 610px) {
      padding-left: 0px;
      margin-bottom: 7px;
    }
  }
  // .pickAndFeedFriendChoiceSum__money
  &__money {
    width: 100%;
    height: 27px;
    background-color: #404950;
    border-radius: 2px;
    display: flex;
    align-items: center;
    @media (max-width: $pc) {
      width: 96%;
      margin: 0 auto;
    }
    @media (max-width: 830px) {
      width: 100%;
      margin: 0 auto;
    }
    @media (max-width: 610px) {
      height: 14px;
    }
  }
  // .pickAndFeedFriendChoiceSum__bar
  &__bar {
    width: 915px;
    height: 2px;
    background-color: #72828E;;
    border-radius: 2px;
    margin: 0 auto;
    @media (max-width: $pc) {
      width: 97%;
    }
    @media (max-width: 830px) {
      width: 86%;
    }
  }
  // .pickAndFeedFriendChoiceSum__container
  &__container {
    display: flex;
    margin-bottom: 15px;
    position: relative;
    top: -34px;
    column-gap: 58px;
    @media (max-width: 999px) {
      justify-content: space-around;
    }
    @media (max-width: 650px) {
      justify-content: flex-start;
    }
    @media (max-width: 610px) {
      column-gap: 21px;
      margin-bottom: 3px;
      top: -22px;
      justify-content: space-around;
    }
    @media (max-width: 330px) {
      justify-content: flex-start;
    }
    // & > :first-child {
    //   display: none;
    // }
    // column-gap: 71px;
    // justify-content: center;
    & div:nth-child(1){
      @media (max-width: $pc) {
        display: none;
      }
    }
    & div:nth-child(2){
      @media (max-width: 998px) {
        display: none;
      }
    }
    & div:nth-child(3){
      @media (max-width: 870px) {
        display: none;
      }
    }
    // & div:nth-child(4){
    //   margin-right: 58px;
    // }
    // & div:nth-child(5){
    //   margin-right:58px;
    // }
    // & div:nth-child(6){
    //   margin-right: 58px;
    // }
    // & div:nth-child(7){
    //   margin-right: 58px;
    // }
  }
  // .pickAndFeedFriendChoiceSum__count
  &__count {
    min-width: 72px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 72px;
    @media (max-width: 610px) {
      min-width: 44px;
    }
    & span {
      width: 40px;
      height: 40px;
      position: relative;
      left: -5px;
      border: 2px solid #FE9013;
      border-radius: 50%;
      opacity: 0;
      margin-bottom: 7px;
      @media (max-width: 830px) {
        left: 4px;
      }
      @media (max-width: 610px) {
        margin-bottom: 8px;
        height: 20px;
        width: 20px;
        left: -2px;
        top: 5px;
        border-width: 1px;
      }
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 23px;
        height: 23px;
        border: 2px solid #FE9013;
        border-radius: 50%;
        @media (max-width: 610px) {
          width: 12px;
          height: 12px;
          border-width: 1px;
        }
      }
    }
    & input {
      position: absolute;
      z-index: -1;
      opacity: 0;
      left: 50%;
      top: 24%;
      transform: translate(-92%, -50%);
      @media (max-width: 830px) {
        transform: translate(-25%, -50%);
      }
      @media (max-width: 610px) {
        transform: translate(-90%, 31%);
        width: 5px;
        height: 5px;

      }
    }
    & :first-child {
      // display: inline-block;
      // margin: 0 auto 19px;
      
    }
    & label {
      font-weight: 500;
      font-size: 26px;
      line-height: 140%;
      color: #333B41;
      @media (max-width: 610px) {
        font-size: 13px;
      }
      &::before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        background-color: #FFEE2E;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 24%;
        transform: translate(-103%, -50%);
        @media (max-width: 830px) {
          transform: translate(-14%, -50%);
        }
        @media (max-width: 610px) {
          width: 5px;
          height: 5px;
          transform: translate(-91%, 31%);
        }
        
      }
      &::after {
        content: '';
        display: block;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border-radius: 50%;
        position: absolute;
        top: 0%;
        transform: translateX(12px);
        cursor: pointer;
        @media (max-width: 830px) {
          transform: translateX(14px);
        }
        @media (max-width: 610px) {
          width: 20px;
          height: 20px;
          transform: translate(1px, 5px);
        }
      }
    }
  }
  // .pickAndFeedFriendChoiceSum__anotherMoney
  &__anotherMoney {
    min-width: 268px;
    display: block;
    margin: 0 auto;
    padding: 15px 9px;
    font-size: 16px;
    line-height: 140%;
    background-color: transparent;
    color: #929699;
    border: 1px solid #929699;
    border-radius: 2px;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    @media (max-width: 830px) {
      min-width: auto;
      max-width: 180px;
      padding: 9px 5px;
    }
  }
}



#amountNum {
  display: flex;
  column-gap: 80px;
  height: 40px;
  width: 100%;
}

.anotherAmountContainer {
  position: relative;
  margin-bottom: 25px;
  @media (max-width: 830px) {
    margin-bottom: 31px;
  }
  @media (max-width: 610px) {
    margin-bottom: 25px;
  }
}

.anotherAmountIcon {
  position: absolute;
  width: 10px;
  height: 20px;
  top: 50%;
  right: 50%;
  transform: translate(124px, -50%);
  fill: #929699;
  @media (max-width: 830px) {
    transform: translate(80px, -50%);
  }
}

.chooseDate {
  display: flex;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
}

.monthly {
  flex: 0 1 56%;
  text-align: end;
    @media (max-width: 610px) {
      flex-basis: 66%;
    }
  & label {
    padding-left: 26px;
    padding-right: 50px;
    @media (max-width: 830px) {
      padding-right: 51px;
    }
  }
}

.once {
  flex: 0 1 50%;
  text-align: start;
  @media (max-width: 830px) {
    flex-basis: 47%;
  }
}

#monthlyFee {
  border-radius: 50%;
}

.payment-type {
  display: none;
  &:checked + label::after {
    opacity: 1;
  }
}
 .choose-date-label {
  position: relative;
  padding-left: 25px;
  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    border: 1px solid #FE9013;
    border-radius: 50%;
  }
  &::after {
    content: '';
    position: absolute;
    left: 3px;
    top: 3px;
    display: inline-block;
    height: 10px;
    width: 10px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: #FE9013;
    opacity: 0;
  }
 }
 
