.footer {
  background-color: #111115;
  color: #fff;
  padding-top: 41px;
  padding-bottom: 50px;
  @media (max-width: 830px) {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  @media (max-width: 610px) {
    padding-top: 20px;
    padding-bottom: 61px;
  }
  // .footer__container
  &__container {
    @media (max-width: $pc) {
      padding-left: 44px;
      padding-right: 19px;
    }
    @media (max-width: 830px) {
      padding-left: 20px;
      padding-right: 20px;
      position: relative;
    }
    @media (max-width: 610px) {
      position: relative;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  // .footer__head
  &__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
    @media (max-width: 830px) {
      margin-bottom: 33px;
    }
    @media (max-width: 610px) {
      margin-bottom: 81px;
    }
  }
  // .footer__logo
  &__logo {
    padding-top: 1px;
    border-width: .5px;
    @media (max-width: 610px) {
      border: none;
      max-width: none;
      margin: 0 auto;
    }
  }
  &__logoImage {
    top: 19.5px;
    @media (max-width: 610px) {
      left: 71px;
      top: 14.5px;
      width: 24.03px;
      height: 20.98px;
      top: -3.5px;
    }
}
  
  // .footer__subscribeForm
  &__subscribeForm {
    @media (max-width: $pc) {
      padding-right: 31px;
    }
    @media (max-width: 830px) {
      display: none;
    }
  }
  // .footer__button
  &__button {
    border-radius: 5px;
    padding-left: 1px;
    margin-bottom: 44px;
    @media (max-width: $pc) {
      margin-bottom: 44px;
      // margin-bottom: 108px;
    
  }
    @media (max-width: 830px) {
      margin-bottom: 68px;
      // margin-bottom: 108px;
    
  }
    @media (max-width: 610px) {
      margin-bottom: 108px;
    
  }
    &::after {
			border-radius: 5px;
		}
		&::before {
			border-radius: 5px;
		}
  }
  // .footer__body
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @media (max-width: 610px) {
    }
  }
}
.logo {
  // .logo__link
  &__link {}
  // .logo__image
  &__image {}
}
.subscribeForm {
  // .subscribeForm__label
  &__label {
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 13px;
  }
  // .subscribeForm__input
  &__input {
    height: 42px;
    width: 228px;
    border: .7px solid $orange;
    border-radius: 2px;
    padding: 10px 10px 10px 9px;
    background-color: transparent;
    margin-right: 5px;
    font-size: 16px;
    line-height: 140%;
    color: #BDBDBD;
    transition: all .5s ease 0s;
    &:hover, &:focus {
      border: 0.7px solid #4B9200;
    }
    &:focus + button {
      border: 0.7px solid #4B9200;
      color: $green;
    }
    &:invalid {
      border: .7px solid #D31414;
      border-radius: 5px;
      color: #D31414;

    }
    &:invalid + button {
      border: 1px solid #D31414;
      border-radius: 5px;
      color: #D31414;
    }
  }
  // .subscribeForm__submitButton
  &__submitButton {
    border: 1px solid #333B41;
    border-radius: 5px;
    color: #000000;
    font-size: 16px;
    line-height: 140%;
    padding-top: 9px;
    padding-bottom: 8px;
    padding-left: 38px;
    padding-right: 38px;
    border-radius: 5px;
    transition: all .5s ease 0s;
    &:hover {
      color: $green;
      border: 1px solid $green;
    }
  }
}
.footerBody {
  font-size: 16px;
  line-height: 140%;
  // .footerBody__socials
  &__socials {
    margin-right: 118px;
    @media (max-width: $pc) {
      margin-right: 91px;
    }
    @media (max-width: 830px) {
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 20px;
    }
    @media (max-width: 610px) {
      top: 53px;
      right: 2px;
      column-gap: 30px;
      
      transform: translateX(-31.5%);
      margin-right: 0px;
      display: flex;
    }
  }
  // .footerBody__menu
  &__menu {
    @media (max-width: 610px) {
      padding-right: 12px;
      padding-left: 12px;
  }
    
  }
  // .footerBody__list
  &__list {
    @media (max-width: $pc) {
      flex-direction: row;
      column-gap: 48px;
  }
    @media (max-width: 830px) {
      column-gap: 37px;
  }
    @media (max-width: 610px) {
      column-gap: 29px;
  }
  }
  // .footerBody__designed
  &__designed {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 228px;
    height: 51px;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    @media (max-width: 610px) {
      position: absolute;
      bottom: 51px;
      right: 11px;
      font-size: 15px;
      line-height: 120%;
      height: 49px;
    }
  }
}
.socials {
  & > *:not(:last-child) {
    margin-bottom: 10px;
    @media (max-width: $pc) {
      margin-bottom: 10px;
      // margin-bottom: 20px;
    
  }
    @media (max-width: 830px) {
      margin-bottom: 20px;
    
  }
  }
  // .footerSocials__item
  &__item {
    &:hover .socials__iconContainer{
      background-color: #4B9200;
      color: #4B9200;
    }
    &:hover .socials__link{
      color: #4B9200;
    }
  }
  // .footerSocials__iconContainer
  &__iconContainer {
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 50%;
    transition: background-color .5s linear 0s;
  }
  // .footerSocials__link
  &__link {
    display: flex;
    align-items: center;
    column-gap: 12px;
    transition: color .5s linear 0s;
    @media (max-width: 830px) {
      & span {
        display: none;
      }
    }
  }
  // .footerSocials__icon
  &__icon {
    &_fb {
      width: 8px;
      height: 16px;
    }
    &_tw {
      width: 16px;
      height: 14px;
    }
    &_ig {
      width: 16px;
      height: 16px;
    }
    &_yt{
      width: 18px;
      height: 13px;
    }
  }
}
.menu {
  // .menu__list
  &__list {}
  // .menu__item
  &__item {}
  // .menu__link
  &__link {}
}

.link {
  &:hover {
    border-bottom: 1px solid #FE9013;
    padding-bottom: 4px;
  }
}

.donate-footer__container {
  @media (max-width: $pc) {
    padding-left: 31px;
    padding-right: 32px;
  }
  @media (max-width: 830px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media (max-width: 610px) {
    padding-left: 9px;
    padding-right: 10px;
  }
}

.donate-footer-body__socials {
  @media (max-width: $pc) {
    margin-right: 118px;
  }
  @media (max-width: 830px) {
    margin-right: 20px;
  }
  @media (max-width: 610px) {
    margin-right: 0px;
  }
  // @media (max-width: 830px) {
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   margin-right: 20px;
  // }
  // @media (max-width: 830px) {
  //   top: 53px;
  //   left: 50%;
  //   display: flex;
  //   column-gap: 30px;
  //   transform: translateX(-69%);
  //   margin-right: 20px;
  // }
}

.donate-designed {
  @media (max-width: 610px) {
    bottom: 51px;
  }
  ;
}

.about-footer-list  {
  // column-gap: 30px;
}