body {
  overflow-x: hidden;
}

.header {
  position: relative;
  z-index: 6;
  background-color: #000;
  color: #fff;
  @media (max-width: 830px) {
    position: fixed;
    width: 100%;
  }
  // .header__container
  &__container {
    display: flex;
    padding-top: 14px;
    padding-bottom: 14px;
    align-items: center;
    & > :first-child {
      margin-right: 63px;
      @media (max-width: 830px) {
        margin-right: 0;
      }
    }
    @media (max-width: $pc) {
    }
    @media (max-width: 830px) {
      justify-content: space-between;
      padding: 0.5px 11px;
      position: relative;
      min-height: 34.4688px;
    }
    @media (max-width: 610px) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  // .header__logo
  &__logo {
    
  }
  // .header__menu
  &__menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    @media (max-width: 830px) {
      // justify-content: space-between;
      // padding: 0 20px;

    }
  }
  // .header__copyRight
  &__copyRight {
    transition: color .3s ease-in 0s;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    @media (max-width: 830px) {
      color: #333B41;
    }
    &:hover {
      color: $orange;
      cursor: pointer;
    }
  }
  // .header__burger
  &__burger {
    width: 18px;
    height: 10px;
    position: relative;
    display: none;
    @media (max-width: 830px) {
      display: block;
      transform: translate(-9px, -1px);
    }
    &::before,
    &::after {
      content: '';
    }
    & span,
    &::before,
    &::after {
      width: 100%;
      height: 2px;
      position: absolute;
      background-color: #fff;
      border-radius: 2px;
    }
    & span {
      top: 50%;
      transform: translateY(-50%);
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
  }
}
.menu {
  // .menu__list
  &__list {
    display: flex;
    column-gap: 58px;
    @media (max-width: $pc) {
      column-gap: 48px;
    }
    @media (max-width: 830px) {
      flex-direction: column;
      row-gap: 14.5px;
    }
  }
  // .menu__item
  &__item {}
  // .menu__link
  &__link {
    transition: color .3s ease-in 0s;
    &:hover {
      color: $orange;
    }
  }
}
.logo {
  position: relative;
  display: inline-block;
    max-width: 82px;
    max-height: 52px;
    padding: 3.55px 4.75px;
    text-align: center;
    font-size: 19.0145px;
    line-height: 120%;
    border: 1px solid #fff;
    border-radius: 2px;
    
  &:hover {
    cursor: pointer;
  }
  // .logo__link
  &__link {
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    
  }
  // .logo__image 
  &__image {
    position: absolute;
    left: 3px;
    top: 22.5px;
    width: 23.03px;
    height: 20.98px;
    background: url(../img/icons/icons.svg#bamboo) no-repeat ;
    @media (max-width: 830px) {
      flex-direction: column;
      row-gap: 15px;
      left: 8px;
      top: 15.5px;
      width: 15.03px;
      height: 11.98px;
    }

  }
}

.header__logo {
  animation: animatedLogo .7s ease 0;
    @media (max-width: 830px) {
      max-width: 66px;
      // min-height: 42px;
      border-color: transparent;
      padding: 1px 0px;

    }
}

.header__logo_link {
  @media (max-width: 830px) {
    font-size: 12.2899px;
    line-height: 120%;

  }
}

.header__links {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  @media (max-width: 830px) {
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 329px;
    background-color: #fff;
    color: #333B41;
    padding: 82px 10px 10px;
    transform: translateX(100%);
    transition: transform .5s ease 0s;
    justify-content: flex-start;
    row-gap: 15px;
  }
  &_visible {
    transform: none;
    box-shadow: 0 0 0 9999px rgba(0,0,0, 0.3);
  }
}

.bamboo-svg {
  fill: red;
}

.header__links_visible + .header__burger {
  z-index: 5;
}

.header__links_visible + .header__burger::after,
.header__links_visible + .header__burger::before, 
.header__links_visible + .header__burger span {
  background-color: #000;
}

.header__logo_visible {
  color: orange;
  z-index: 5;
  border-color: orange;
  padding: 0.55px 2.75px;
  // animation: animatedLogo .7s ease 0;
}

.header__logo_visible .logo__image {
  background-image: url(../img/icons/icons.svg#bambooOrange);
  left: 2px;
  top: 16.5px;
  width: 19.03px;
  height: 16.98px;
}

.header__container_active {
  padding-left: 10px;
  padding-top: 10px;
}

.header__logo_visible .logo__link {
  font-size: 15.2116px;
  line-height: 120%;
}


// @keyframes animatedLogo {
//   0% {
//     position: absolute;
//     top: 0;
//     right: 0;
//     transform: translateX(100%);
//   }
//   50% {}
//   100% {
//     position: absolute;
//     top: 0;
//     left: 0;
//     transform: none;
//   }
// }
